html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculatorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  height: 400px;
  width: 400px;
  border: 3px solid rgb(30, 30, 30);
  background-color: rgb(203, 203, 203);
  padding: 1em;
  margin: auto;
}

#displayContainer {
  border: 2px solid rgb(30, 30, 30);
  background-color: rgb(239, 239, 239);
  padding: 0.75em;
  height: 1em;
  text-align: right;
  box-sizing: content-box;
}

#displayContainer p {
  margin: 8px;
}

#buttonsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#buttonsRow {
  display: flex;
  flex-grow: 1;
}

#buttonsContainer,
#buttonsRow {
  gap: 0.25em;
}

#buttonsRow button {
  width: 25%;
  font-size: 120%;
}

.digitButton {
  background-color: aliceblue;
}

.operatorButton {
  background-color: grey;
}

#equalsButton {
  background-color: deepskyblue;
}